<!DOCTYPE html>
<html lang="fr">

<head>
	{{ partial "head.html" . }}
</head>

<body>

<section class="home-top">
    <div class="content-home-top">
        <div class="inner-home">
            <div class="columns"></div>
            <h1 class='title'><span class='fg'>{{ $.Site.Data.paramsite.title }}</span><br><span class='devlyon'>{{ $.Site.Data.paramsite.subtitle1 }}</span></h1>
            <h2 class='title technos'><i class="far fa-heart"></i> {{ $.Site.Data.paramsite.subtitle2 }}</h2>
        </div>
    </div>

</section>





<section class="home-competences">
    <div class="container">
        <h2 class='is-2'>Mes compétences</h2>
        <div class="columns competences">
            <div class="column is-half-mobile"><i class="fab fa-angular"></i> <br> Angular</div>
            <div class="column is-half-mobile"><i class="fab fa-symfony"></i> <br> Symfony</div>
            <div class="column is-half-mobile"><i class="fab fa-php"></i> <br> PHP</div>
            <div class="column is-half-mobile"><i class="fab fa-node"></i> <br> Node.js</div>
            <div class="column is-half-mobile"><i class="fab fa-vuejs"></i> <br> Vue.js</div>

    </div>
</div>
</section>



</body>




</html>
