<!DOCTYPE html>
<html lang="fr">

<head>
	{{ partial "head.html" . }}
</head>

<body class='homepage'>

<section>
    <div class="home-top">
        <div class="content-home-top ">
            <div class="inner-home">
                <h1 class='title'><span class='fg'>{{ $.Site.Data.paramsite.title }}</span><br><span class='devlyon'>{{ $.Site.Data.paramsite.subtitle1 }}</span></h1>
                <h2 class='title technos'><i class="far fa-heart"></i> {{ $.Site.Data.paramsite.subtitle2 }}</h2>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="section home-presentation">
        <div class="container">
                <h2 class='is-2'>Présentation</h2>
            <div class="columns">
                <div class="column is-7">
                    
                    <p>Développeur depuis plus de 15 ans, j'ai vu grandir le web et ses technologies qui m'ont toujours passionnées. J'ai très vite choisi de me spécialiser sur la réalisation de sites internet et d'applications.</p>
                    
                    <p>Après avoir travaillé pour le ministère de la Défense, la Bibliothèque et la ville de Lyon j'ai choisi de partir à l'aventure en devenant Freelance. 
                    </p>
                    
                    <p>Je vous propose mes services en tant que développeur pour vos applications backend ou frontend en utilisant les dernières technologies. La diversité des missions que j'ai mené à bien me permettent de m'intégrer en souplesse à votre structure et vos projets.</p> 
                </div>
                <div class="column is-6-mobile centered is-offset-1">
                    <img src="{{ "img/portrait.jpg" | absURL }}" class='portrait' alt="Portrait Fabien Grignoux">
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="section home-competences">
        <div class="container">
            <h2 class='is-2'>Mes compétences</h2>
            
            <div class="columns competences is-mobile is-multiline">
                <div class="column is-half-mobile"><i class="fab fa-angular"></i> <br> Angular</div>
                <div class="column is-half-mobile"><i class="fab fa-symfony"></i> <br> Symfony</div>
                <div class="column is-half-mobile"><i class="fab fa-php"></i> <br> PHP</div>
                <div class="column is-half-mobile"><i class="fab fa-node"></i> <br> Node.js</div>
                <div class="column is-half-mobile"><i class="fab fa-vuejs"></i> <br> Vue.js</div>
                <div class="column is-half-mobile"><i class="fab fa-wordpress"></i> <br> Wordpress</div>
            </div>
            
        </div>
    </div>
</section>

<section>
    <div class="section home-realisations">
        <div class="container">
            <h2 class='is-2'>Quelques réalisations</h2>
            <div class="column"></div>
                
        </div>
    </div>
</section>


<section>
    <div class="section home-contact">
        <div class="container">
            <div class="columns">
                <div class="column is-3 is-hidden-mobile    ">
                    
                    <i class="logo-mail fas fa-envelope"></i>
                </div>
                <div class="is-6 is-offset-1 column">
                    <h2>Rencontrons nous !</h2>
                    <form name="contact" method="POST" data-netlify="true">
                        <p>
                            <label>Votre e-mail * : <input class="input" required type="email" name="email" /></label>
                        </p>
                        <p>
                            <label>Titre du message :  <input class="input" type="text" name="titre" /></label>
                        </p>
                        <p>
                            <label>Votre message: <textarea class="textarea" required name="message" rows="4"></textarea></label>
                        </p>
                        <p>
                            <button class='button' type="submit">Envoyer</button>
                        </p>
                    </form>
                </div>

            </div>
            
        </div>
    </div>

</section>


<footer>
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column ">
                    <p>
                        <span class="fg">Fabien Grignoux</span><br>
                        <span class='devlyon'>Développeur web fullstack à Lyon</span>
                    </p>
                </div>
                <div class="column">
                    <div class="buttons">
                        <a target="_blank" class='button  is-outlined' href='https://www.linkedin.com/in/fabien-grignoux-3ab9a4167/'><i class="fab fa-linkedin"></i> LinkedIn</a><br>
                        <a target="_blank" class='button is-outlined'  href='mailto:{{ $.Site.Data.paramsite.mail }}'><i class="fas fa-envelope"></i> Email</a><br>
                        <a class='button is-outlined'  href='phone:{{ $.Site.Data.paramsite.phone }}'><i class="fas fa-phone"></i> {{ $.Site.Data.paramsite.phone }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>




</html>
