body{
	background-color:black;
}




a{
	color:$couleur-liens;
}

a.button.is-primary{
	color:$primary !important;
	border-color:$primary !important;
}


.fg{
	text-transform: uppercase;
	font-family: 'Teko';
	color:$couleur-princ;
	font-size:4em;
	line-height:0.7em;
}

.devlyon{
	color:$couleur-princ;
	font-family: 'Muli';
}

.home-top{
	position:relative;

	h2{
		font-family:"Philosopher";
	}

	.content-home-top{
		background:url("../../img/fondfgrx2.jpg");
		background-attachment: fixed;
		background-size: cover;
		display:block;
		height:80vh;
		top:0;
		bottom:0;
		width: 100%;
	}

	.inner-home{
		vertical-align: middle;
		width:100%;
		display: inline-block;
		height:50%;
		position: absolute;
		top: 0;
		bottom:0%;
		margin: auto;
		padding-left:3em;
	}

	.fg{
		font-size:4em;
	}


	.devlyon{
		font-size:1.7em;
	}

	.technos{
		color:white;
		font-family:"Philosopher";
		font-size: 2.2em;
		margin-top:1.2em;
	}



	@media screen and (max-width: 700px) {
		.fg{
			font-size:2.5em;
		}
	
	
		.devlyon{
			font-size:1.5em;
		}
	
		.technos{
			color:white;
			font-family:"Philosopher";
			font-size: 1.2em;
			margin-top:1.2em;
		}
	}

}




.home-realisations{
	background:$background-princ;
}

.home-competences{
	background:$couleur-princ;
		padding-bottom:2em;
		text-align:center;
	h2{
		color:$couleur-text-dark;
	}
	.competences{
		
		font-size:2em;
		font-family:"Philosopher";
	}
	i{
		text-align:center;
		font-size:3.5em;
	}

	@media screen and (max-width: 700px) {
		i{
			font-size:1.7em;
		}
	}
}

.home-contact{
	h2{
		color:$couleur-text-dark;
	}

	background:white;
	padding:4em;

	.logo-mail{
		font-size:20em;
		color:#20ca58;
	}

	input,textarea{
		margin-bottom:1em;
	}
}

h2{
	color:$couleur-text-light;
	font-size:4em;
	font-family:"Teko";
}

@media screen and (max-width: 700px) {
	h2{
		font-size:2.5em;
	}
}


footer{
	background:$background-footer;
	padding:4em;
	color:$couleur-text-light;
	.devlyon{
		font-size:1.3em;
	}
}