body{
	background-color:#1d1d1d;
	p{
		margin-bottom:1em;
	}
}




a{
	color:$couleur-liens;
}

a.button.is-primary{
	color:$primary !important;
	border-color:$primary !important;
}


.fg{
	text-transform: uppercase;
	font-family: 'Teko';
	color:$couleur-princ;
	font-size:4em;
	line-height:0.7em;
}

.devlyon{
	color:$couleur-princ;
	font-family: 'Muli';
}

.home-top{
	position:relative;

	h2{
		font-family:"Philosopher";
	}

	.content-home-top{
		background:url("../../img/fondfgrx2.jpg");
		background-attachment: fixed;
		background-size: cover;
		display:block;
		height:65vh;
		top:0;
		bottom:0;
		width: 100%;
	}

	.inner-home{
		vertical-align: middle;
		width:100%;
		display: inline-block;
		height:50%;
		position: absolute;
		top: 0;
		bottom:0%;
		margin: auto;
		padding-left:3em;
	}

	.fg{
		font-size:4em;
	}


	.devlyon{
		font-size:1.7em;
	}

	.technos{
		color:white;
		font-family:"Philosopher";
		font-size: 2.2em;
		margin-top:1.2em;
	}



	@media screen and (max-width: 700px) {
		.fg{
			font-size:2.5em;
		}
	
	
		.devlyon{
			font-size:1.5em;
		}
	
		.technos{
			color:white;
			font-family:"Philosopher";
			font-size: 1.2em;
			margin-top:1.2em;
		}
	}

}



.whatfor{
	color:white;
	background:url("../../img/fondligne.png") bottom no-repeat;
	background-size: 100%;
	background-color:#3a3a3a;
	background-position-y:101%;
	.title{
		text-align: center;
		color:white;
	}


	.whatfor-item{
		margin-top:2em;
		margin-bottom:2em;
		padding:3em;
		padding-top:8em;
		//margin-top:4em;
	} 
	
	.whatfor-item1{
		background:url("../../img/gear.png") top no-repeat;
		background-size: 7em;
	}


	.whatfor-item2{
		background:url("../../img/responsive.png") top no-repeat;
		background-size:7em;
	}


	.whatfor-item3{
		background:url("../../img/mobile.png") top no-repeat;
		background-size:7em;
	}
}

.home-realisations{
	background:$background-princ;
	color:$couleur-text-light;

	.is-4{
		color:$couleur-text-light;
	}
}

.home-competences{
	
	background:url("../../img/fleche.png") top no-repeat $couleur-princ;
	background-size:7em;
		padding-bottom:2em;
		text-align:center;
	h2{
		color:$couleur-text-dark;
	}
	.competences{
		
		font-size:2em;
		font-family:"Philosopher";
	}
	i{
		text-align:center;
		font-size:3.5em;
	}

	@media screen and (max-width: 700px) {
		i{
			font-size:1.7em;
		}
	}
}

.home-contact{
	h2{
		color:$couleur-text-dark;
	}

	background:white;
	padding:4em;

	.logo-mail{
		font-size:20em;
		color:#5fef8e;
	}

	input,textarea{
		margin-bottom:1em;
	}
}

.home-presentation{
	margin-top:-2px;
	color:$couleur-text-light;
	font-size:1.2em;
}

h2{
	color:$couleur-text-light;
	font-size:4em;
	font-family:"Teko";

	.small{
		font-size:0.5em;
	}
}

.title3{
	font-family:"Philosopher";
}

@media screen and (max-width: 700px) {
	h2{
		font-size:2.5em;
	}
}

.portrait{
	border-radius: 50%;
	text-align:center;
	object-position: center;
    max-width: 100%;
    max-height: 100%;
}

footer{
	background:url("../../img/fond.png") top no-repeat;
	background-size: 100%;
	background-color:$background-footer;
	padding:4em;
	color:$couleur-text-light;
	.devlyon{
		font-size:1.3em;
	}
}

.centered{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}


.data-more{
	display:none;
}

.portfolio{
	a{
		text-decoration:none;
		color:$couleur-text-light;
	}
}