$couleur-princ:#8acbb2;
$couleur-text:rgb(31, 31, 31);
$couleur-princ-hover:#727272;
$couleur-light:white;

$couleur-liens:#7c2c22;
$couleur-sec:#7c2c22;
$couleur-liens-hover:#025d8c;


$couleur-blocposts:white;
$couleur-blocpresentation:#dfdfdf;

$navbar-background-color:#1b1c1d;
$couleur-navliens:white;

$footer-background-color:#1b1c1d;
$discret-sombre:#b3b3b3;

$couleur-header:#025d8c;

$couleur-menu:#8acbb2;
$couleur-text-menu:white;
$couleur-hover-menu:#025d8c;
$background-hover-menu:rgb(70, 69, 69);


$couleur-background-general:rgb(238, 238, 238);